@import url("../webfonts/YouSheBiaoTiHei_2/stylesheet.css");
@import url("../../webfonts/YouSheBiaoTiHei_2/stylesheet.css");

/* CSS Document */
* {
  margin: 0;
  padding: 0
}
body {
  background-color: #434343;
  background: url('https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN')center center;
  background-attachment: fixed;
}
/*https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN

    resolution 壁纸的分辨率. 1920 为默认值, 你也可以将其设置为 1366.
    format API的调用返回格式, 值可以为 json 或者 image. 如果返回格式设置为 image, API会直接跳转请求到对应的图片地址.
    index 壁纸的index，默认从0开始。由于Bing壁纸的图片每日更新，所以通过index值可以获取之前的图片。
    mkt Bing壁纸的地区参数，默认为 zh-CN, 你也可以将其设置为 en-US, ja-JP, en-AU, en-UK, de-DE, en-NZ, en-CA。

https://shenzilong.cn/util/redirect_to_bing_daily_picture_address*/
.divurl {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: #000000;
}
#main {
  margin: 0 auto;
  width: 1000px;
  height: inherit;
}
#head_banner {
  height: 50px;
  line-height: 50px;
}
.h_b_box {
  float: left;
  margin-left: 6px;
  width: 127px;
  text-align: center;
}
#h_b_logo {
	float: left;
	width: 202px;
	text-align: center;
	background-color: #F08519;
	font-size: 30px;
	font-family: "YouSheBiaoTiHei 2";
	border-radius: 0px 0px 10px 10px;
	color: #FFFFFF;
}
#h_b_s1 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #0CA050;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}
#h_b_s2 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #0CA050;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}
#h_b_s3 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #0CA050;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}
#h_b_s4 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #0CA050;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}
#h_b_s5 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #0CA050;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}
#h_b_s6 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #0CA050;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}
#cywzlist {
  margin-top: 6px;
  height: 154px;
}
.cywzlist_box {
  float: left;
  margin: 0px 0px 6px 6px;
  width: 177px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
#cywzlist_weather {
  float: left;
  width: 450px;
  height: 148px;
}
#cywzlist_s1 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(225,37,27,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s2 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(255,68,0,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s3 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(255,0,54,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s4 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(255,64,0,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s5 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(242,146,1,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s6 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(54,101,243,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s7 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(78,110,242,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s8 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(57,218,221,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#cywzlist_s9 {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  background-color: rgba(0,160,106,0.90);
  color: #FFFFFF;
  border-radius: 10px;
}
#gywzlist {
  width: 100%;
  height: 500px;
}
#gywzlist_title {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  background-color: rgba(139, 173, 149, 1.00);
  color: #FFFFFF;
  border-radius: 10px;
}
#dqwzlist {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
#dqwzlist_title {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  background-color: rgba(139, 173, 149, 1.00);
  color: #FFFFFF;
  border-radius: 10px;
}
#mxwzlist {
  width: 100%;
  height: 1600px;
  border-radius: 10px;
}
#mxwzlist_title {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  background-color: rgba(139, 173, 149, 1.00);
  color: #FFFFFF;
  border-radius: 10px;
}
#gfwzlist {
  width: 100%;
  height: 312px;
  border-radius: 10px;
}
#gfwzlist_title {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  background-color: rgba(139, 173, 149, 1.00);
  color: #FFFFFF;
  border-radius: 10px;
}
#bottom_banner {
	float: left;
	width: 100%;
  height: 20px;
  text-align: center;
	line-height: 20px;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 10px 10px 0px 0px;
  
  color: #FFFFFF;
  font-size: 14px;
}
.site_list_box {
  float: left;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgba(70, 70, 70, 0.90);
  border-radius: 10px;
}
.site_list_box_logo {
  float: left;
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.493);
  border-radius: 10px;
}
.site_list_box_tag {
  float: right;
  width: 690px;
  line-height: 40px;
  text-align: left;
  font-size: 12px;
  border-radius: 10px;
  color: #FFFFFF;
}
.site_list_url {
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  border-radius: 10px;
}
